@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@import '../css/resume.min.css';

// Overriding and custom main template

.color-1 { background: #7e6df6; } // Deep Purple
.color-2 { background: #F44336; } // Red */
.color-3 { background: #2196F3; } // Blue */
.color-4 { background: #FF5722; } // Deep Orange */
.color-5 { background: #2eca7f; } // Green */
.color-6 { background: #29B6F6; } // Light Blue */
.color-7 { background: #E91E63; } // Pink */
.color-8 { background: #AA00FF; } // Purple */
.color-9 { background: #FF9800; } // Orange */
.color-10 { background: #FBC02D; } // Amber */
.color-11 { background: #1fdf1f; } // Lime */
.color-12 { background: #26d9ac; } // Teal */

$main-color: #1fdf1f;;

.main-color {
  color: $main-color;
}

.text-primary-custom {
  color: $main-color;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: rgba(255,255,255,.8);
    }
  }
}
