@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@import '../css/resume.min.css';

// Overriding and custom main template

/*------- Defaults -------*/

$color-1: #1fdf1f; // Lime
$color-2: #AA00FF; // Purple

/*------- Functions -------*/

@mixin transition ($value) {
  -webkit-transition-duration: $value;
  transition-duration: $value;
}

%commonTransition {
  @include transition(0.3s);
  &:hover,
  &:focus,
  &:active {
    color: darken($color-1, 15%);
  }
}

a {
  @extend %commonTransition;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, .8);
      @extend %commonTransition;
    }
  }
}

.container-fluid {
  .list-social-icons {
    a {
      @extend %commonTransition;
    }
  }
}

.devicons {
  @extend %commonTransition;
}
